@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&family=Yrsa:wght@400;500;600;700&display=swap');

@layer base {
  * {
    @apply font-[Nunito]
  }

  h1, h2, h3, h4 {
    @apply font-[Yrsa]
  }

 
  .filters .categories button:active {
    background-color: #EFBEC2;
    color: #AD343E;
    border: 1px solid #AD343E;
  }

  .filters .brands button:active {
    background-color: #EFBEC2;
    color: #AD343E;
    border: 1px solid #AD343E;
  }

  .filters .models button:active {
    background-color: #EFBEC2;
    color: #AD343E;
    border: 1px solid #AD343E;
  }
}

.wave {
      
        --mask:
            radial-gradient(559.02px at 50% 750.00px, #000 99%, #0000 101%) calc(50% - 500px) 0/1000px 100%,
            radial-gradient(559.02px at 50% -500px, #0000 99%, #000 101%) 50% 250px/1000px 100% repeat-x;
          -webkit-mask: var(--mask);
          mask: var(--mask);
        
}

.hasttransporter li {
  font-weight: 400;
  color: #3C3C3C;
  text-transform: capitalize;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hasttransporter li:hover {
  text-decoration: underline;
  color: black;
}

.nav-drop {
  font-weight: 400;
    color: #3C3C3C;
    text-transform: capitalize;
    padding-top: 4px;
    padding-bottom: 4px;
}

.nav-drop:hover {
  text-decoration: underline;
  color: black;
}